html
{
    scroll-behavior: smooth;
    transition: 0.1s;
}
/* Main Css */
body{
    font-family: roboto;
    transition: 0.1s;
}
h1, h2, h3 ,p {
  color: black;
  text-shadow: 1px 1px 1px rgba(0, 0, 0,0.1);
}
hr{
    width: 250px;
    border-top: 2px solid rgb(88, 85, 85);
}
h4{
    color: #acacac;
}

section{
    padding:70px;
}
.tombol
{
    border-radius: 0;
    width: 90px;
}

.navbar-toggler{
    background-color: white;
}

/* Navbar */
#navbar {
    overflow: hidden;
    padding: 1px 10px; 
    transition: 0.4s; 
    position: fixed; 
    width: 100%;
    top: 0;
    z-index: 99; 
    background-color: black;
  }
.navbar-brand, .nav-link{
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.1);
}

.nav-item{
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.1);
    font-weight: 500;
}
.nav-item .active{
    font-weight: bold !important;
}

/* jumbotron */
.jumbotron{
    height: 640px;
    background-image: url(../Img/Aku.jpg);
    background-size: cover;
    text-align: center;
}
.jumbotron .name{
    margin-top: 150px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.1);
    text-align: center;
}
.jumbotron p{
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.1);
}
.jumbotron h2{
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.1);
}
/* panel info */
.info-panel{
    background-color: whitesmoke;
    padding: 30px;
    box-shadow: 2px 20px 30px rgba(0, 0, 0,0.5);
    margin-top: -100px;
    border-radius: 20px;
    text-align: center;
}

/* progress */
.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid rgb(202, 191, 191);
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0,0.1);
}
.progress:hover{
    transform: translate(2px 0);
    transition: 0.2s;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 16px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.no .progress-bar{
    border-color: #1e068a;
}
.progress.no .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.pat .progress-bar{
    border-color: #ae00da;
}
.progress.pat .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress-lime .progress-bar{
    border-color: rgb(0, 245, 33);
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
.progress .progress-value{
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.3);
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

/* portfolio */
.card{
    padding:20px;
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0 rgba(76, 110, 245, .1);
}
.card:hover{
    transform: translate(0,-10px);
    transition: 0.2s;
}
.card p{
    color: black;
}

.card-body{
    overflow: hidden;
    
}


/*-- hobby --*/
.hobby{
    background: #f6f6f6;
}
.hobby-in .card {
    padding: 1.5em .5em;
    border: none;
    transition: none;
    background: #fff;
	box-shadow: 5px 5px 10px 0 rgba(76, 110, 245, .1);
}
.hobby-in .card h5.card-title {
    font-size: 20px;
    letter-spacing: 1px;
}
.hobby-in .card span.fa {
    font-size: 2em;
    color: #3369e7;
}
.hobby-in p.card-text {
    font-size: 15px;
}

/* skill section */
#Skill{
background-color: #fff;
}
.Skill hr{
    width: 250px;
    border-top: 2px solid rgb(19, 18, 18);
    box-shadow: 1px 1px 1px rgba(0, 0, 0,0.3);
}
.Skill h1{
    color: black !important;
}

.myskill{
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.1);
    color: black !important;
}
/* footer */

.footer-section {
	background: #191919;
	padding-top: 75px;
}

.footer-left {
	margin-bottom: 30px;
}

.footer-left .footer-logo {
	margin-bottom: 24px;
}

.footer-left .footer-logo a {
	display: inline-block;
}

.footer-left ul li {
	list-style: none;
	color: #b2b2b2;
	font-size: 16px;
	line-height: 30px;
}

.footer-left .footer-social {
	padding-top: 25px;
}

.footer-left .footer-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #434445;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	margin-right: 7px;
	position: relative;
	z-index: 1;
}

.footer-left .footer-social a:hover:before {
	opacity: 1;
}

.footer-left .footer-social a:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #e7ab3c;
	content: "";
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: -1;
}
.footer-widget{
    color: white;
    text-shadow: rgba(0, 0, 0,0.1);
}
.footer-widget li a{
    color: white;
    text-shadow: rgba(0, 0, 0,0.3);
}
.footer-widget h5{
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.3);
    color: white;
    font-size: 25px !important;
}
.copyright-text{
    color: white;
    padding-top: 20px;
    border-bottom:  1px solid #eaeaea;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0,0.3);
}


/* desktop version */
@media (min-width: 992px) { 
    .footer-logo{
        text-align: center;
    }
    .footer-social{
        text-align: center;
    }
    .nav-item{
        text-transform: uppercase;
    }
 }



